



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



<div class="container">

    <div class="row">

        <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="" data-target-id="profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                <li><a href="" data-target-id="change-password"><i class="glyphicon glyphicon-lock"></i> Change Password</a></li>
                <li><a href="" data-target-id="settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                <li><a href="" data-target-id="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            </ul>
        </div>

        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Nombre</h3>
                </div>
                <div class="panel-body">
                    @User.Identity.Name

                </div>
            </div>
        </div>


        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Apellido</h3>
                </div>
                <div class="panel-body">
                    @User.Identity.Name

                </div>
            </div>
        </div>


        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Documento</h3>
                </div>
                <div class="panel-body">
                    @User.Identity.Name

                </div>
            </div>
        </div>


        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Direccion Principal</h3>
                </div>
                <div class="panel-body">
                    @User.Identity.Name

                </div>
            </div>
        </div>


        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Direccion Secundaria</h3>
                </div>
                <div class="panel-body">
                    @User.Identity.Name

                </div>
            </div>
        </div>


        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Email</h3>
                </div>
                <div class="panel-body">
                    @User.Identity.Name

                </div>
            </div>
        </div>

        




        </div>

    </div>
